@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
  .padding-container {
    @apply px-6 lg:px-32 3xl:px-0;
  }
  .main-container {
    @apply mx-auto max-w-4xl
  }
  /* Custom scrollbar */
  #chatlist::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  /* Track */
  #chatlist::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  #chatlist::-webkit-scrollbar-thumb {
    background: #0FA559;
    border-radius: 5px;
  }

  /* Handle on hover */
  #chatlist::-webkit-scrollbar-thumb:hover {
    background: #0FA559;
  }

}